.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
}

img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}


p {
    font-size: 1em;
}